<div *ngIf="env">
		<h3>Environment Details</h3>
		<div class="example-container">
			<mat-form-field> 
				<input 
					matInput 
					[ngModel]="env.id"
					placeholder="ID" 
					readonly> 
			</mat-form-field>
			
			<mat-form-field class="example-full-width">
				<input 
					matInput="number" 
					placeholder="version"
					[ngModel]="env.version" 
					required> 
				<!--
				<mat-error *ngIf="version.errors.required">
				-->
				<mat-error>
						Version is <strong>required</strong>
				</mat-error>
			
		 </mat-form-field>
		
		  	<!--
				matInput [matDatepicker]="myDatepicker1"
				-->
				
		<mat-form-field>
			<input    
				matInput="datetime-local"
				[ngModel]="env['installed-at']" 
				placeholder="Installed"
				required>
				<mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
				<mat-datepicker #myDatepicker1></mat-datepicker>	
			</mat-form-field>
			
			<mat-form-field>
				<input 
					matInput="datetime-local"
					[ngModel]="env['stopped-at']" 
					placeholder="Stopped"
					required>
				<mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
				<mat-datepicker #myDatepicker2></mat-datepicker>	
			</mat-form-field>
		
			<mat-form-field class="example-full-width">
					<input 
					matInput="text" 
					placeholder="Status" 
					[ngModel]="env.status"
					required>
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<textarea 
					rows="8" cols="20"			
					readonly
					matInput [ngModel]="base64_decode(env.dc)"
					placeholder="Docker Container"
					required> 
				</textarea> 
			</mat-form-field>
			
			<button 
				mat-raised-button
				color='primary'	
				(click)="onApplyEnvironment(env)">Apply Changes
			</button>
		</div>
	</div>