<!--
<div *ngIf="env.version">
-->
<div>
	<h3>Environment Details</h3>
		<div class="example-container">
					<mat-form-field> 
						<input 
							matInput 
							[ngModel]="env.id"
							placeholder="ID" 
							readonly> 
					</mat-form-field>
			
					<mat-form-field class="example-full-width">
						<input 
							matInput
							type="number" 
							placeholder="Version"
							[ngModel]="env.version"
							(ngModelChange)="env.version = $event"
							required> 
						<!--
						<mat-error *ngIf="version.errors.required">
						-->
						<mat-error>
								Version is <strong>required</strong>
						</mat-error>
					</mat-form-field>
		
					<mat-form-field class="example-full-width">
						<input    
							matInput
							[matDatepicker]="myDatepickerInstalled"
							[ngModel]="env['installed-at']" 
							(ngModelChange)="env['installed-at'] = $event"
							placeholder="Installed"
							required>
							<mat-datepicker-toggle matSuffix [for]="myDatepickerInstalled"></mat-datepicker-toggle>
							<mat-datepicker #myDatepickerInstalled></mat-datepicker>	
					</mat-form-field>
					
					<mat-form-field class="example-full-width">
						<input 
							matInput
							[matDatepicker]="myDatepickerStopped"
							[ngModel]="env['stopped-at']" 
							(ngModelChange)="env['stopped-at'] = $event"
							placeholder="Stopped"
							required>
						<mat-datepicker-toggle matSuffix [for]="myDatepickerStopped"></mat-datepicker-toggle>
						<mat-datepicker #myDatepickerStopped></mat-datepicker>	
					</mat-form-field>
				
					<mat-form-field class="example-full-width">
							<input 
							matInput
							type="text" 
							placeholder="Status" 
							[ngModel]="env.status"
							readonly>
					</mat-form-field>

					<mat-form-field class="example-full-width">
						<textarea 
							rows="8" cols="20"			
							readonly
							matInput [ngModel]="base64_decode(env.dc)"
							placeholder="Docker Container">
						</textarea> 
					</mat-form-field>
			
			
			<button 
				mat-raised-button
				color='primary'	
				(click)="onApplyEnvironment(env)">Apply Changes
			</button>
			<button 
				mat-raised-button
				color='warn'	
				(click)="onCancelEnvironment()">Cancel
			</button>
		</div>
	</div>