<mat-form-field> <input matInput
	(keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table #table [dataSource]="dataSource" matSort
	class="mat-elevation-z8"> <ng-container matColumnDef="id">
<mat-header-cell *matHeaderCellDef mat-sort-header> ID
</mat-header-cell> <mat-cell *matCellDef="let env"> {{env.id}} </mat-cell> </ng-container> <ng-container
	matColumnDef="version"> <mat-header-cell
	*matHeaderCellDef mat-sort-header> Version </mat-header-cell> <mat-cell
	*matCellDef="let env"> {{env.version}} </mat-cell> </ng-container> <ng-container
	matColumnDef="installed"> <mat-header-cell
	*matHeaderCellDef mat-sort-header> Installed </mat-header-cell> <mat-cell
	*matCellDef="let env"> {{env["installed-at"]}} </mat-cell> </ng-container> <ng-container
	matColumnDef="stopped"> <mat-header-cell
	*matHeaderCellDef mat-sort-header> Stopped </mat-header-cell> <mat-cell
	*matCellDef="let env"> {{env["stopped-at"]}} </mat-cell> </ng-container> <ng-container
	matColumnDef="status"> <mat-header-cell
	*matHeaderCellDef mat-sort-header> Status </mat-header-cell> <mat-cell
	*matCellDef="let env"> {{env.status}} </mat-cell> </ng-container> <ng-container
	matColumnDef="actions"> <mat-header-cell
	*matHeaderCellDef mat-sort-header> Actions </mat-header-cell> <mat-cell
	*matCellDef="let env">

<button *ngIf="env.status !== 'installed'"
	mat-raised-button
	color = "primary" 
	(click)="onButtonClick(env, 'installed')">Install
</button>

<button *ngIf="env.status === 'installed'"
	mat-raised-button
	color = "primary" 
	(click)="onButtonClick(env, 'stopped')">Stop
</button>

<button *ngIf="env.status === 'stopped' || env.status === 'new' "
	mat-raised-button
	color='warn'	
	(click)="onDeleteEnvironment(env)">Delete
</button>

	<!--
	class = "red_button"
	-->

</mat-cell> </ng-container> <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns; let env;"
	(click)="onSelect(env)" [class.selected]="env === currentEnv"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
